/////// START COLORS //////

// Iconos
$ic-facebook: #4C66A4;
$ic-google-plus: #DD4B39;
$ic-link-edin: #0077B7;
$ic-twitter: #2FC2EF;
$ic-normal: #6F6F6F;

// Textos
$texto-oscuro: #333333;
$texto-azul: #3974AC;
$texto-claro: #E4FDE4;
$texto-sutil: #999999;
$texto-enlace: #61C6D7;
$texto-boton: #D9D9D9;
$texto-pie: #D5FDFF;
$texto-destacado: #8BE68B;


//Fondos
$bg-claro: #F5F5F5;
$bg-cabecera: #3974AC;
$bg-apartado: #61C6D7;
$bg-boton: #32AABD;
$bg-pie: #244B6E;

// Bordes
$borde-oscuro: #333333;
$borde-neutro: #E6E6E6;
$borde-claro: #E6E6E6;

/////// END COLORS ////////

/////// START FONTS ///////
$fuente_principal: "Roboto",sans-serif;
$fuente_estetica: "Vibur",sans-serif;
/////// END FONTS /////////


//START BREAKPOINTS SIZES//
$s: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
///END BREAKPOINTS SIZES///



////SEGUNDOS ANIMACION/////
$animacion-delay: 0s, .2s, .3s, .4s, .5s;